# Load in data

In [24]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import os.path
import matplotlib.pyplot as plt

In [25]:
sub_df = pd.read_csv("./newsletteraudience/subscribed.csv")
unsub_df = pd.read_csv("./newsletteraudience/unsubscribed.csv")
sub_df.head()

,What's your first name?,Last name?,Email?,How did you find us?,"From 1-10, how comfortable do you feel with money?",MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,...,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,LAST_CHANGED,LEID,EUID,NOTES,TAGS
0,Jaye,Kasper,jayemkasper@gmail.com,Daniella Seidl,8,2,2019-09-28 14:51:57,NaN,2019-09-28 14:51:57,166.216.158.66,...,'-8,'-7,America/Los_Angeles,US,CA,2019-09-28 14:51:57,369765457,f376d37816,NaN,NaN
1,NaN,NaN,mberman4@tulane.edu,NaN,NaN,2,2019-08-12 06:40:53,NaN,2019-08-12 06:40:53,NaN,...,NaN,NaN,908,us,nj,2019-08-12 06:40:53,360048529,cf1be2610e,NaN,NaN
2,NaN,NaN,cpae@tulane.edu,NaN,NaN,3,2019-11-03 21:02:04,NaN,2019-11-03 21:02:04,129.81.211.212,...,NaN,NaN,NaN,NaN,NaN,2019-11-03 21:02:04,388446525,b426fd2d1a,NaN,NaN
3,Danielle,Berman,dberman2@tulane.edu,Moriah Jacobs,NaN,3,2019-08-18 23:22:38,NaN,2019-08-18 23:22:38,108.36.95.90,...,'-5,'-4,504,us,la,2019-08-18 23:22:38,361398637,d96df45888,NaN,NaN
4,Ricki,Sperry,rickisperry4@gmail.com,Olivia Epstein,5,3,2019-10-29 11:37:19,NaN,2019-10-29 11:37:19,128.230.194.54,...,NaN,NaN,NaN,NaN,NaN,2019-10-29 11:37:19,387515781,cf7cbd98ed,NaN,NaN

## Agreggating and tidying

In [26]:
metrics = sub_df.iloc[:, 0:7]
metrics1 = sub_df.iloc[:, 8:9]
metrics2 = sub_df.iloc[:, 16]

df_cols_of_interest = pd.concat([metrics, metrics1, metrics2], axis = 1)
df_cols_of_interest.rename(columns = {"What's your first name?" : "first", "Last name?" : "last", "Email?" : "Email", "How did you find us?" : "Referrer", "From 1-10, how comfortable do you feel with money?":"Comfort", "MEMBER_RATING" : "Rating", "OPTIN_TIME" : "signup_date", "REGION" : "Region"}, inplace = True)

df_cols_of_interest["Name"] = df_cols_of_interest["first"].map(str) + " " + df_cols_of_interest["last"] 
df = df_cols_of_interest

df.drop(columns = ['first', 'last', "CONFIRM_TIME"], inplace = True)

df.set_index("Email")

export = df.to_csv("./newsletteraudience/clean_audience.csv", index = True, header = True)

In [28]:
df.fillna(0)
df['signup_date'] = pd.to_datetime(df['signup_date'])
df

,Email,Referrer,Comfort,Rating,signup_date,Region,Name
0,jayemkasper@gmail.com,Daniella Seidl,8,2,2019-09-28 14:51:57,CA,Jaye Kasper
1,mberman4@tulane.edu,NaN,NaN,2,2019-08-12 06:40:53,nj,NaN
2,cpae@tulane.edu,NaN,NaN,3,2019-11-03 21:02:04,NaN,NaN
3,dberman2@tulane.edu,Moriah Jacobs,NaN,3,2019-08-18 23:22:38,la,Danielle Berman
4,rickisperry4@gmail.com,Olivia Epstein,5,3,2019-10-29 11:37:19,NaN,Ricki Sperry
...,...,...,...,...,...,...,...
673,jbattle1@tulane.edu,Cat Olivier,5,2,2019-10-22 22:07:01,LA,Jordan Battle
674,katybrosnan@gmail.com,NaN,NaN,2,2019-11-05 11:07:04,NaN,NaN
675,elana_israeli@aol.com,NaN,NaN,2,2019-09-02 22:02:51,la,elana israeli
676,tania@juanalaiguana.com,NaN,NaN,5,2019-08-12 06:40:53,ga,NaN
677,jennares97@gmail.com,Ilana!,6,4,2019-10-18 06:52:14,ny,Jenna Resnikoff